hanko-auth,
hanko-profile {
    /* Color Scheme */
    --color: #f5f2f2;
    --color-shade-1: #8f9095;
    --color-shade-2: #f1f1f1;

    --brand-color: rgba(254, 122, 213, 0.58);
    --brand-color-shade-1: #f05088;
    --brand-contrast-color: white;

    --background-color: #282828;
    --error-color: #e82020;
    --link-color: #FE7AD5;

    /* Font Styles */
    --font-weight: 400;
    --font-size: 16px;
    --font-family: sans-serif;

    /* Border Styles */
    --border-radius: 8px;
    --border-style: solid;
    --border-width: 1px;

    /* Item Styles */
    --item-height: 34px;
    --item-margin: 0.5rem 0;

    /* Container Styles */
    --container-padding: 30px;
    --container-max-width: 410px;

    /* Headline Styles */
    --headline1-font-size: 24px;
    --headline1-font-weight: 600;
    --headline1-margin: 0 0 1rem;

    --headline2-font-size: 16px;
    --headline2-font-weight: 600;
    --headline2-margin: 1rem 0 0.5rem;

    /* Divider Styles */
    --divider-padding: 0 42px;
    --divider-visibility: visible;

    /* Link Styles */
    --link-text-decoration: none;
    --link-text-decoration-hover: underline;

    /* Input Styles */
    --input-min-width: 14em;

    /* Button Styles */
    --button-min-width: max-content;
}

hanko-auth::part(container) {
    border-radius: 10px;
    border-style: solid;
    border-color: #464646;
}